
@model IEnumerable<Inspinia_MVC5.Models.GetSumsByChanger_Result>

<div class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
</div>

<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Принято за&nbsp;день</th>
            <th>Выдано за&nbsp;день</th>
            <th>Продано&nbsp;карт за&nbsp;день</th>
            <th>Заполненность принятых</th>
            <th>Заполненность размена</th>
            <th>Заполненность карт</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>
                    @*<a href="#" onclick="selectWash('@n.WashCode')">@n.WashCode</a>*@
                    @n.ChangerCode
                </td>
                <td>@n.ChangerCode</td>
                <td style="text-align:right">@n.sincrease</td>
                <td style="text-align:right">@n.sout</td>
                <td style="text-align:right">@n.ccard</td>
                <td style="text-align:right">123</td>
                <td style="text-align:right">132</td>
                <td style="text-align:right">123</td>
            </tr>
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th>Итого:</th>
            <th></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
            <th style="text-align:right"></th>
        </tr>
    </tfoot>*@
</table>
