
@model IEnumerable<Inspinia_MVC5.Helpers.ChangerSumData>

<div class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
</div>

<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Принято руб</th>
            <th>Выдано руб</th>
            <th>Продано карт</th>
            <th>Заполненность принятых</th>
            <th>Заполненность размена</th>
            <th>Заполненность карт</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>
                    @n.changerCode
                </td>
                <td>@n.changerName</td>
                <td style="text-align:right">
                    <a href="#" onclick="selectEvents('@n.changerCode')">
                        @n.sumIncrease
                    </a>
                </td>
                <td style="text-align:right">
                    <a href="#" onclick="selectEvents('@n.changerCode')">
                        @n.sumOut
                    </a>
                </td>
                <td style="text-align:right">
                    <a href="#" onclick="selectEvents('@n.changerCode')">
                        @n.sumCards
                    </a>
                </td>
                <td style="text-align:right">
                    <a href="#" onclick="selectMonitoring('@n.changerCode')">
                        @n.boxIncrease
                    </a>
                </td>
                <td style="text-align:right">
                    <a href="#" onclick="selectMonitoring('@n.changerCode')">
                        @n.boxChange
                    </a>
                </td>
                <td style="text-align:right">
                    <a href="#" onclick="selectMonitoring('@n.changerCode')">
                        @n.boxCards
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
