@{
    ViewBag.Title = "Панель 1";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-info float-right">всего</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">96 700 830</h1>
@*                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>*@
                    <small>с начала работы</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">за месяц</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">4 274 560</h1>
                    <div class="stat-percent font-bold text-danger">4% <i class="fa fa-level-down"></i></div>
                    <small>июнь 2019</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">за сутки</span>
                    <h5>Поступления</h5>
                    <span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">362 920</h1>
                    <div class="stat-percent font-bold text-info">11% <i class="fa fa-level-up"></i></div>
                    <small>10 июня 2019</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">за месяц</span>
                    <h5>Инкассировано</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">1 062 150</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>июнь 2019</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Карты</h5>
                    @*<div class="float-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white active">Today</button>
                            <button type="button" class="btn btn-xs btn-white">Monthly</button>
                            <button type="button" class="btn btn-xs btn-white">Annual</button>
                        </div>
                    </div>*@
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">830</h2>
                                    <small>Активировано карт всего</small>
                                    @*<div class="stat-percent">6% <i class="fa fa-level-up text-navy"></i></div>*@
                                    <div class="progress progress-mini">
                                        <div style="width: 6%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">515</h2>
                                    <small>Активировано карт за месяц</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">236 734</h2>
                                    <small>Поступления с карт за месяц</small>
                                    <div class="stat-percent">6% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 6%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <div>
                        <span class="float-right text-right">
                            <small class="float-right">
                                <i class="fa fa-clock-o"> </i>
                                Обновлено в 21:40
                            </small>
                        </span>
                        <h3 class="font-bold no-margins">
                            Поступление за сутки
                        </h3>
                        <small>по мойкам</small>
                    </div>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Регион</th>
                                <th>Мойка</th>
                                <th>Адрес</th>
                                <th>Зачисления</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                <td>Волгоградский регион</td>
                                <td class="text-center">М 1</td>
                                <td>Волгоград Жукова</td>
                                <td class="text-right">42 190</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Волгоградский регион</td>
                                <td class="text-center">М 2</td>
                                <td>Волжский Ленина</td>
                                <td class="text-right">34 110</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Курский регион</td>
                                <td class="text-center">М 3</td>
                                <td>Курск Малых</td>
                                <td class="text-right">32 380</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Белгородский регион</td>
                                <td class="text-center">М 4</td>
                                <td>Губкин Космонавтов</td>
                                <td class="text-right">16 180</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Белгородский регион</td>
                                <td class="text-center">М 5</td>
                                <td>Старый Оскол Угарова</td>
                                <td class="text-right">19 530</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Волгоградский регион</td>
                                <td class="text-center">М 6</td>
                                <td>Волгоград 30-летия Победы</td>
                                <td class="text-right">36 290</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Волгоградский регион</td>
                                <td class="text-center">М 7</td>
                                <td>Волгоград Фруктовая</td>
                                <td class="text-right">28 550</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Тамбовский регион</td>
                                <td class="text-center">М 8</td>
                                <td>Мичуринск Автозаводская</td>
                                <td class="text-right">33 700</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Тамбовский регион</td>
                                <td class="text-center">М 9</td>
                                <td>Мичуринск Советская</td>
                                <td class="text-right">26 040</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Курский регион</td>
                                <td class="text-center">М10</td>
                                <td>Курск Пучковка</td>
                                <td class="text-right">25 700</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Курский регион</td>
                                <td class="text-center">М11</td>
                                <td>Железногорск Ветеринарный</td>
                                <td class="text-right">0</td>
                            </tr>
                            <tr class="gradeA">
                                <td>Волгоградский регион</td>
                                <td class="text-center">М12</td>
                                <td>Волгоград Алехина</td>
                                <td class="text-right">39 590</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Поступление за сутки
                    </h3>
                    <small>по регионам</small>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="world-map" style="height: 490px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/dataTables")




    <script type="text/javascript">
        $(document).ready(function () {

            /////////////////////////////////////////////////////////////////////////////////////
            // График карт
            /////////////////////////////////////////////////////////////////////////////////////
            var data2 = [
                [gd(2019, 5, 14), 7], [gd(2019, 5, 15), 6], [gd(2019, 5, 16), 4], [gd(2019, 5, 17), 8],
                [gd(2019, 5, 18), 6], [gd(2019, 5, 19), 7], [gd(2019, 5, 20), 5], [gd(2019, 5, 21), 4],
                [gd(2019, 5, 22), 7], [gd(2019, 5, 23), 8], [gd(2019, 5, 24), 7], [gd(2019, 5, 25), 6],
                [gd(2019, 5, 26), 4], [gd(2019, 5, 27), 5], [gd(2019, 5, 28), 3], [gd(2019, 5, 29), 5],
                [gd(2019, 5, 30), 8], [gd(2019, 5, 31), 2], [gd(2019, 6, 1), 7], [gd(2019, 6, 2), 6],
                [gd(2019, 6, 3), 6], [gd(2019, 6, 4), 4], [gd(2019, 6, 5), 7], [gd(2019, 6, 6), 3],
                [gd(2019, 6, 7), 7], [gd(2019, 6, 8), 3], [gd(2019, 6, 9), 5], [gd(2019, 6, 10), 4],
                [gd(2019, 6, 11), 5], [gd(2019, 6, 12), 8], [gd(2019, 6, 13), 5]
            ];

            var data3 = [
                [gd(2019, 5, 14), 800], [gd(2019, 5, 15), 500], [gd(2019, 5, 16), 600], [gd(2019, 5, 17), 700],
                [gd(2019, 5, 18), 500], [gd(2019, 5, 19), 456], [gd(2019, 5, 20), 800], [gd(2019, 5, 21), 589],
                [gd(2019, 5, 22), 467], [gd(2019, 5, 23), 876], [gd(2019, 5, 24), 689], [gd(2019, 5, 25), 700],
                [gd(2019, 5, 26), 500], [gd(2019, 5, 27), 600], [gd(2019, 5, 28), 700], [gd(2019, 5, 29), 786],
                [gd(2019, 5, 30), 345], [gd(2019, 5, 31), 888], [gd(2019, 6, 1), 888], [gd(2019, 6, 2), 888],
                [gd(2019, 6, 3), 987], [gd(2019, 6, 4), 444], [gd(2019, 6, 5), 999], [gd(2019, 6, 6), 567],
                [gd(2019, 6, 7), 786], [gd(2019, 6, 8), 666], [gd(2019, 6, 9), 888], [gd(2019, 6, 10), 900],
                [gd(2019, 6, 11), 178], [gd(2019, 6, 12), 555], [gd(2019, 6, 13), 893]
            ];


            var dataset = [
                {
                    label: "Продажа карт",
                    data: data2,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }, {
                    label: "Поступления с карт",
                    data: data3,
                    yaxis: 2,
                    color: "#464f88",
                    lines: {
                        lineWidth: 1,
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.2
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 8,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    max: 2000,
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

            var previousPoint = null, previousLabel = null;

            $.plot($("#flot-dashboard-chart"), dataset, options);

            /////////////////////////////////////////////////////////////////////////////////////
            // Карта регионов
            /////////////////////////////////////////////////////////////////////////////////////

            var mapData = {
                "RU-BEL": 10,
                "RU-VGG": 40,
                "RU-KRS": 20,
                "RU-TAM": 30,
            };

            $('#world-map').vectorMap({
                map: 'ru_merc',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#66FF99", "#009933"],
                        normalizeFunction: 'polynomial'
                    }]
                },

                labels: {
                    regions: {
                        render: function (code) {
                            switch (code) {
                                case "RU-VGG":
                                    return "145 168";
                                case "RU-TAM":
                                    return "108 876";
                                case "RU-KRS":
                                    return "72 584";
                                case "RU-BEL":
                                    return "36 292";
                            }
                        },
                        offsets: function (code) {
                            return {
                                'RU-VGG': [0, -2],
                                'RU-KRS': [-1, 0],
                                'RU-BEL': [0, -1]
                            }[code];
                        }
                    }
                },
            });

            // отмасштабировать по Воронежской области
            var mapObj = $('#world-map').vectorMap('get', 'mapObject');
            mapObj.setFocus({region: "RU-VOR"});


            /////////////////////////////////////////////////////////////////////////////////////
            // Ползущий график в поступлениях за сутки
            /////////////////////////////////////////////////////////////////////////////////////

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);


            /////////////////////////////////////////////////////////////////////////////////////
            // DataTable
            /////////////////////////////////////////////////////////////////////////////////////

            $('.dataTables-example').DataTable({
                searching: false,
                paging: false,
                language: {
                    processing: "Подождите...",
                    search: "Поиск:",
                    lengthMenu: "Показать _MENU_ записей",
                    info: "Записи с _START_ до _END_ из _TOTAL_ записей",
                    infoEmpty: "Записи с 0 до 0 из 0 записей",
                    infoFiltered: "(отфильтровано из _MAX_ записей)",
                    infoPostFix: "",
                    loadingRecords: "Загрузка записей...",
                    zeroRecords: "Записи отсутствуют.",
                    emptyTable: "В таблице отсутствуют данные",
                    paginate: {
                        first: "Первая",
                        previous: "Предыдущая",
                        next: "Следующая",
                        last: "Последняя"
                    },
                    aria: {
                        sortAscending: ": активировать для сортировки столбца по возрастанию",
                        sortDescending: ": активировать для сортировки столбца по убыванию"
                    }
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });


        });
    </script>
}