@{
    ViewBag.Title = "Панель 1";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-info float-right">всего</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">96 700 830</h1>
                    @*                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>*@
                    <small>с начала работы</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">за месяц</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">4 274 560</h1>
                    <div class="stat-percent font-bold text-danger">4% <i class="fa fa-level-down"></i></div>
                    <small>июнь 2019</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">за сутки</span>
                    <h5>Поступления</h5>
                    <span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">362 920</h1>
                    <div class="stat-percent font-bold text-info">11% <i class="fa fa-level-up"></i></div>
                    <small>10 июня 2019</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">за месяц</span>
                    <h5>Инкассировано</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">1 062 150</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>июнь 2019</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Карты</h5>
                    @*<div class="float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-white active">Today</button>
                                <button type="button" class="btn btn-xs btn-white">Monthly</button>
                                <button type="button" class="btn btn-xs btn-white">Annual</button>
                            </div>
                        </div>*@
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">830</h2>
                                    <small>Активировано карт всего</small>
                                    @*<div class="stat-percent">6% <i class="fa fa-level-up text-navy"></i></div>*@
                                    <div class="progress progress-mini">
                                        <div style="width: 6%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">515</h2>
                                    <small>Активировано карт за месяц</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">236 734</h2>
                                    <small>Поступления с карт за месяц</small>
                                    <div class="stat-percent">6% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 6%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <div>
                            <span class="float-right text-right">
                                <small class="float-right">
                                    <i class="fa fa-clock-o"> </i>
                                    <div id="update-time"></div>
                                </small>
                            </span>
                            <h3 class="font-bold no-margins">
                                Операции
                            </h3>
                            <small>по картам</small>
                        </div>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="table-operation" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th><p>IDOperation</p></th>
                                    <th><p>IDPcs</p></th>
                                    <th><p>IDOperationType</p></th>
                                    <th><p>IDCard</p></th>
                                    <th><p>DTime</p></th>
                                    <th><p>Amount</p></th>
                                    <th><p>Balance</p></th>
                                    <th><p>LocalizedID</p></th>
                                </tr>
                            </thead>
                            <tbody id="op-table">

                                @foreach (var o in ViewBag.Operations)
                                {
                                    <tr>
                                        <td><p>@o.IDOperation</p></td>
                                        <td><p>@o.IDPsc</p></td>
                                        <td><p>@o.IDOperationType</p></td>
                                        <td><p>@o.IDCard</p></td>
                                        <td><p>@o.DTime</p></td>
                                        <td><p>@o.Amount</p></td>
                                        <td><p>@o.Balance</p></td>
                                        <td><p>@o.LocalizedID</p></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <div>
                        <span class="float-right text-right">
                            <small class="float-right">
                                <i class="fa fa-clock-o"> </i>
                                <div id="update-time"></div>
                            </small>
                        </span>
                        <h3 class="font-bold no-margins">
                            Поступление за сутки
                        </h3>
                        <small>по мойкам</small>
                    </div>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div id="op-table" class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th><p>Регион</p></th>
                                <th><p>Мойка</p></th>
                                <th><p>Адрес</p></th>
                                <th><p>Зачисление</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.Incomes)
                            {
                                <tr>
                                    <td><p>@i.region</p></td>
                                    <td><p>@i.washName</p></td>
                                    <td><p>@i.washAddress</p></td>
                                    <td><p>@i.amount</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Поступление за сутки
                    </h3>
                    <small>по регионам</small>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="world-map" style="height: 490px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/dataTables")


    <script type="text/javascript">
        $(document).ready(function () {

            /////////////////////////////////////////////////////////////////////////////////////
            // График клиентских карт
            /////////////////////////////////////////////////////////////////////////////////////
            var data2 = [
                [gd(2019, 5, 14), 7], [gd(2019, 5, 15), 6], [gd(2019, 5, 16), 4], [gd(2019, 5, 17), 8],
                [gd(2019, 5, 18), 6], [gd(2019, 5, 19), 7], [gd(2019, 5, 20), 5], [gd(2019, 5, 21), 4],
                [gd(2019, 5, 22), 7], [gd(2019, 5, 23), 8], [gd(2019, 5, 24), 7], [gd(2019, 5, 25), 6],
                [gd(2019, 5, 26), 4], [gd(2019, 5, 27), 5], [gd(2019, 5, 28), 3], [gd(2019, 5, 29), 5],
                [gd(2019, 5, 30), 8], [gd(2019, 5, 31), 2], [gd(2019, 6, 1), 7], [gd(2019, 6, 2), 6],
                [gd(2019, 6, 3), 6], [gd(2019, 6, 4), 4], [gd(2019, 6, 5), 7], [gd(2019, 6, 6), 3],
                [gd(2019, 6, 7), 7], [gd(2019, 6, 8), 3], [gd(2019, 6, 9), 5], [gd(2019, 6, 10), 4],
                [gd(2019, 6, 11), 5], [gd(2019, 6, 12), 8], [gd(2019, 6, 13), 5]
            ];

            var data3 = [
                [gd(2019, 5, 14), 800], [gd(2019, 5, 15), 500], [gd(2019, 5, 16), 600], [gd(2019, 5, 17), 700],
                [gd(2019, 5, 18), 500], [gd(2019, 5, 19), 456], [gd(2019, 5, 20), 800], [gd(2019, 5, 21), 589],
                [gd(2019, 5, 22), 467], [gd(2019, 5, 23), 876], [gd(2019, 5, 24), 689], [gd(2019, 5, 25), 700],
                [gd(2019, 5, 26), 500], [gd(2019, 5, 27), 600], [gd(2019, 5, 28), 700], [gd(2019, 5, 29), 786],
                [gd(2019, 5, 30), 345], [gd(2019, 5, 31), 888], [gd(2019, 6, 1), 888], [gd(2019, 6, 2), 888],
                [gd(2019, 6, 3), 987], [gd(2019, 6, 4), 444], [gd(2019, 6, 5), 999], [gd(2019, 6, 6), 567],
                [gd(2019, 6, 7), 786], [gd(2019, 6, 8), 666], [gd(2019, 6, 9), 888], [gd(2019, 6, 10), 900],
                [gd(2019, 6, 11), 178], [gd(2019, 6, 12), 555], [gd(2019, 6, 13), 893]
            ];


            var dataset = [
                {
                    label: "Продажа карт",
                    data: data2,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }, {
                    label: "Поступления с карт",
                    data: data3,
                    yaxis: 2,
                    color: "#464f88",
                    lines: {
                        lineWidth: 1,
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.2
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 8,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    max: 2000,
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

            var previousPoint = null, previousLabel = null;

            $.plot($("#flot-dashboard-chart"), dataset, options);

            /////////////////////////////////////////////////////////////////////////////////////
            // Карта регионов
            /////////////////////////////////////////////////////////////////////////////////////

            var ruRegionName = {
                "RU-AD": "Адыгея",
                "RU-AL": "Алтай",
                "RU-ALT": "Алтайский край",
                "RU-AMU": "Амурская область",
                "RU-ARK": "Архангельская область",
                "RU-AST": "Астраханская область",
                "RU-BA": "Башкортостан",
                "RU-BEL": "Белгородская область",
                "RU-BRY": "Брянская область",
                "RU-BU": "Бурятия",
                "RU-CE": "Чечня",
                "RU-CHE": "Челябинская область",
                "RU-CHU": "Чукотский АО",
                "RU-CU": "Чувашия",
                "RU-DA": "Дагестан",
                "RU-IN": "Ингушетия",
                "RU-IRK": "Иркутская область",
                "RU-IVA": "Ивановская область",
                "RU-KB": "Кабардино-Балкария",
                "RU-KGD": "Калининградская область",
                "RU-KL": "Калмыкия",
                "RU-KLU": "Калужская область",
                "RU-KAM": "Камчатский край",
                "RU-KC": "Карачаево-Черкесия",
                "RU-KR": "Карелия",
                "RU-KEM": "Кемеровская область - Кузбасс",
                "RU-KHA": "Хабаровский край",
                "RU-KK": "Хакасия",
                "RU-KHM": "Ханты-Мансийский АО — Югра",
                "RU-KIR": "Кировская область",
                "RU-KO": "Коми",
                "RU-KOS": "Костромская область",
                "RU-KDA": "Краснодарский край",
                "RU-KYA": "Красноярский край",
                "RU-KGN": "Курганская область",
                "RU-KRS": "Курская область",
                "RU-LEN": "Ленинградская область",
                "RU-LIP": "Липецкая область",
                "RU-MAG": "Магаданская область",
                "RU-ME": " Марий Эл",
                "RU-MO": "Мордовия",
                "RU-MOS": "Московская область",
                "RU-MOW": "Москва",
                "RU-MUR": "Мурманская область",
                "RU-NEN": "Ненецкий АО",
                "RU-NIZ": "Нижегородская область",
                "RU-NGR": "Новгородская область",
                "RU-NVS": "Новосибирская область",
                "RU-OMS": "Омская область",
                "RU-ORE": "Оренбургская область",
                "RU-ORL": "Орловская область",
                "RU-PNZ": "Пензенская область",
                "RU-PER": "Пермский край",
                "RU-PRI": "Приморский край",
                "RU-PSK": "Псковская область",
                "RU-ROS": "Ростовская область",
                "RU-RYA": "Рязанская область",
                "RU-SA": "Саха (Якутия)",
                "RU-SAK": "Сахалинская область",
                "RU-SAM": "Самарская область",
                "RU-SPE": "Санкт-Петербург",
                "RU-SAR": "Саратовская область",
                "RU-SE": "Северная Осетия — Алания",
                "RU-SMO": "Смоленская область",
                "RU-STA": "Ставропольский край",
                "RU-SVE": "Свердловская область",
                "RU-TAM": "Тамбовская область",
                "RU-TA": "Татарстан",
                "RU-TOM": "Томская область",
                "RU-TUL": "Тульская область",
                "RU-TVE": " Тверская область",
                "RU-TYU": "Тюменская область",
                "RU-TY": "Тыва",
                "RU-UD": "Удмуртия",
                "RU-ULY": "Ульяновская область",
                "RU-VLA": "Владимирская область",
                "RU-VGG": "Волгоградская область",
                "RU-VLG": "Вологодская область",
                "RU-VOR": "Воронежская область",
                "RU-YAN": "Ямало-Ненецкий АО",
                "RU-YAR": "Ярославская область",
                "RU-YEV": "Еврейская АО",
                "RU-ZAB": "Забайкальский край"
            };

            var mapData = {
                "RU-BEL": 36292,
                "RU-VGG": 145168,
                "RU-KRS": 72584,
                "RU-TAM": 108876,
            };

            function validData(val) {
                if (typeof val === "undefined") {
                    ret = "";
                }
                else {
                    ret = val;
                }

                return ret;
            }

            $('#world-map').vectorMap({
                map: 'ru_merc',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#66FF99", "#009933"],
                        normalizeFunction: 'polynomial'
                    }]
                },

                labels: {
                    regions: {
                        render: function (code) {
                            return String(validData(mapData[code])).replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1' + unescape('%u2009'));
                        },
                        offsets: function (code) {
                            return {
                                'RU-VGG': [0, -2],
                                'RU-KRS': [-1, 0],
                                'RU-BEL': [0, -1]
                            }[code];
                        }
                    }
                },
                onRegionTipShow: function (e, el, code) {
                    return el.html(ruRegionName[code]);
                    //el.html(el.html() + '=' + code);
                }
            });

            // отмасштабировать по Воронежской области
            var mapObj = $('#world-map').vectorMap('get', 'mapObject');
            mapObj.setFocus({ region: "RU-VOR" });


            /////////////////////////////////////////////////////////////////////////////////////
            // Ползущий график в поступлениях за сутки
            /////////////////////////////////////////////////////////////////////////////////////

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);


            /////////////////////////////////////////////////////////////////////////////////////
            // DataTable
            /////////////////////////////////////////////////////////////////////////////////////

            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#table-operation thead th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                });

                // DataTable
                var table = $('#table-operation').DataTable();

                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            });

            $('.dataTables-example').DataTable({
                searching: true,
                paging: false,
                language: {
                    processing: "Подождите...",
                    search: "Поиск:",
                    lengthMenu: "Показать _MENU_ записей",
                    info: "Записи с _START_ до _END_ из _TOTAL_ записей",
                    infoEmpty: "Записи с 0 до 0 из 0 записей",
                    infoFiltered: "(отфильтровано из _MAX_ записей)",
                    infoPostFix: "",
                    loadingRecords: "Загрузка записей...",
                    zeroRecords: "Записи отсутствуют.",
                    emptyTable: "В таблице отсутствуют данные",
                    paginate: {
                        first: "Первая",
                        previous: "Предыдущая",
                        next: "Следующая",
                        last: "Последняя"
                    },
                    aria: {
                        sortAscending: ": активировать для сортировки столбца по возрастанию",
                        sortDescending: ": активировать для сортировки столбца по убыванию"
                    }
                },
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Операции с картами' },
                    { extend: 'pdf', title: 'Операции с картами' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });


        });
    </script>

    <script type="text/javascript">
                $(document).ready(function () {
                    timedRefresh(50000);
                });

                function timedRefresh(timeoutPeriod) {
                    let period = timeoutPeriod;
                    let timedId = setInterval(
                        function refreshData() {
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("UpdateTime", "Dashboards")",
                            }).done(function (result) {
                                $('#update-time').html(result);
                            });


                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("UpdateTable", "Dashboards")",
                            }).done(function (result) {
                                $('#op-table').html(result);
                            });

                                //if (надо увеличить период обновления){
                                //    period *= 2;
                                //}

                                //alert('tick');
                            },
                            timeoutPeriod
                    );
                };
    </script>
}