@{
    ViewBag.Title = "Панель 1";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                @*<a href="@Url.Action("IncashWashes", "Incash")">*@
                <div class="ibox-title">
                    <span class="label label-info float-right">всего</span>
                    <h5>Поступления</h5>
                </div>
                @*</a>*@
                <div class="ibox-content">
                    <h1 class="no-margins">125 382 200</h1>
                    @*                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>*@
                    <small>с начала работы</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">за вчера</span>
                    <h5>Поступления</h5>
                    @*                    <span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span>*@
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">378 080</h1>
                    @*<div class="stat-percent font-bold text-info">11% <i class="fa fa-level-up"></i></div>*@
                    <a href="@Url.Action("IncashWashes", "Incash", new { begTime = DateTime.Today.AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"), endTime =  DateTime.Today.AddSeconds(-1).ToString("dd.MM.yyyy HH:mm:ss"), region = "0", wash = "0" })">
                        <small>@DateTime.Today.AddDays(-1).ToString("dd MMMM yyyy")</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">за месяц</span>
                    <h5>Инкассировано</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">10 350 610</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <a href="@Url.Action("CollectList", "CollectWash", new { begTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1).ToString("dd.MM.yyyy HH:mm:ss"), endTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"), region = "0", wash = "0" })">
                        <small>@DateTime.Today.AddMonths(-1).ToString("MMMM yyyy")</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-warning-light float-right">макет</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">0</h1>
                    @*<div class="stat-percent font-bold text-danger">4% <i class="fa fa-level-down"></i></div>*@
                    <a href="@Url.Action("FinanceOperations", "Finance", new {
                            begTime = DateTime.Today.ToString("dd.MM.yyyy HH:mm:ss"),
                            endTime = DateTime.Today.ToString("dd.MM.yyyy HH:mm:ss")})">
                        <small>@DateTime.Today.ToString("dd MMMM yyyy")</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    @*<div class="float-right">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-white active">Today</button>
                <button type="button" class="btn btn-xs btn-white">Monthly</button>
                <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
        </div>*@
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">0</h2>
                                    <a href="@Url.Action("Cards", "Cards", new {
                                        begTimeLO = DateTime.Today.AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        endTimeLO = DateTime.Today.AddSeconds(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        begTimeActivation = DateTime.Today.AddMonths(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        endTimeActivation = DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")
                                        })">
                                        <small>Активировано карт всего</small>
                                    </a>


                                    @*<div class="stat-percent">6% <i class="fa fa-level-up text-navy"></i></div>*@
                                    <div class="progress progress-mini">
                                        <div style="width: 0%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">0</h2>
                                    <small>Активировано карт за месяц</small>
                                    <div class="stat-percent">0% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 0%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">0</h2>
                                    <a href="@Url.Action("OperationsCardsTypedWash", "OperationsTypedWash", new {
                            begTime = DateTime.Today.AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                            endTime = DateTime.Today.AddSeconds(-1).ToString("dd.MM.yyyy HH:mm:ss")})">
                                        <small>Поступления с карт за @DateTime.Today.AddDays(-1).ToString("dd MMMM yyyy")</small>
                                    </a>
                                    <div class="stat-percent">0% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 0%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Поступление за сутки
                    </h3>
                    <small>по регионам</small>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="world-map" style="height: 490px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/dataTables")

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            /////////////////////////////////////////////////////////////////////////////////////
            // График клиентских карт
            /////////////////////////////////////////////////////////////////////////////////////
            var data2 = [
                [gd(2019, 10, 13), 0], [gd(2019, 10, 14), 0], [gd(2019, 10, 15), 0], [gd(2019, 10, 16), 0],
                [gd(2019, 10, 17), 0], [gd(2019, 10, 18), 0], [gd(2019, 10, 19), 0], [gd(2019, 10, 20), 0],
                [gd(2019, 10, 21), 0], [gd(2019, 10, 22), 0], [gd(2019, 10, 23), 0], [gd(2019, 10, 24), 0],
                [gd(2019, 10, 25), 0], [gd(2019, 10, 26), 0], [gd(2019, 10, 27), 0], [gd(2019, 10, 28), 0],
                [gd(2019, 10, 29), 0], [gd(2019, 10, 30), 0], [gd(2019, 10, 31), 0], [gd(2019, 11, 1), 0],
                [gd(2019, 11, 3), 0], [gd(2019, 11, 4), 0], [gd(2019, 11, 5), 0], [gd(2019, 11, 6), 0],
                [gd(2019, 11, 2), 0], [gd(2019, 11, 3), 0], [gd(2019, 11, 4), 0], [gd(2019, 11, 5), 0],
                [gd(2019, 11, 6), 0], [gd(2019, 11, 7), 0], [gd(2019, 11, 8), 0]
            ];

            var data3 = [
                [gd(2019, 10, 13), 0], [gd(2019, 10, 14), 0], [gd(2019, 10, 15), 0], [gd(2019, 10, 16), 0],
                [gd(2019, 10, 17), 0], [gd(2019, 10, 18), 0], [gd(2019, 10, 19), 0], [gd(2019, 10, 20), 0],
                [gd(2019, 10, 21), 0], [gd(2019, 10, 22), 0], [gd(2019, 10, 23), 0], [gd(2019, 10, 24), 0],
                [gd(2019, 10, 25), 0], [gd(2019, 10, 26), 0], [gd(2019, 10, 27), 0], [gd(2019, 10, 28), 0],
                [gd(2019, 10, 29), 0], [gd(2019, 10, 30), 0], [gd(2019, 10, 31), 0], [gd(2019, 11, 1), 0],
                [gd(2019, 11, 3), 0], [gd(2019, 11, 4), 0], [gd(2019, 11, 5), 0], [gd(2019, 11, 6), 0],
                [gd(2019, 11, 2), 0], [gd(2019, 11, 3), 0], [gd(2019, 11, 4), 0], [gd(2019, 11, 5), 0],
                [gd(2019, 11, 6), 0], [gd(2019, 11, 7), 0], [gd(2019, 11, 8), 0]
            ];


            var dataset = [
                {
                    label: "Продажа карт",
                    data: data2,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }, {
                    label: "Поступления с карт",
                    data: data3,
                    yaxis: 2,
                    color: "#464f88",
                    lines: {
                        lineWidth: 1,
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.2
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 8,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    max: 2000,
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

            var previousPoint = null, previousLabel = null;

            $.plot($("#flot-dashboard-chart"), dataset, options);

            /////////////////////////////////////////////////////////////////////////////////////
            // Карта регионов
            /////////////////////////////////////////////////////////////////////////////////////

            var ruRegionName = {
                "RU-AD": "Адыгея",
                "RU-AL": "Алтай",
                "RU-ALT": "Алтайский край",
                "RU-AMU": "Амурская область",
                "RU-ARK": "Архангельская область",
                "RU-AST": "Астраханская область",
                "RU-BA": "Башкортостан",
                "RU-BEL": "Белгородская область",
                "RU-BRY": "Брянская область",
                "RU-BU": "Бурятия",
                "RU-CE": "Чечня",
                "RU-CHE": "Челябинская область",
                "RU-CHU": "Чукотский АО",
                "RU-CU": "Чувашия",
                "RU-DA": "Дагестан",
                "RU-IN": "Ингушетия",
                "RU-IRK": "Иркутская область",
                "RU-IVA": "Ивановская область",
                "RU-KB": "Кабардино-Балкария",
                "RU-KGD": "Калининградская область",
                "RU-KL": "Калмыкия",
                "RU-KLU": "Калужская область",
                "RU-KAM": "Камчатский край",
                "RU-KC": "Карачаево-Черкесия",
                "RU-KR": "Карелия",
                "RU-KEM": "Кемеровская область - Кузбасс",
                "RU-KHA": "Хабаровский край",
                "RU-KK": "Хакасия",
                "RU-KHM": "Ханты-Мансийский АО — Югра",
                "RU-KIR": "Кировская область",
                "RU-KO": "Коми",
                "RU-KOS": "Костромская область",
                "RU-KDA": "Краснодарский край",
                "RU-KYA": "Красноярский край",
                "RU-KGN": "Курганская область",
                "RU-KRS": "Курская область",
                "RU-LEN": "Ленинградская область",
                "RU-LIP": "Липецкая область",
                "RU-MAG": "Магаданская область",
                "RU-ME": " Марий Эл",
                "RU-MO": "Мордовия",
                "RU-MOS": "Московская область",
                "RU-MOW": "Москва",
                "RU-MUR": "Мурманская область",
                "RU-NEN": "Ненецкий АО",
                "RU-NIZ": "Нижегородская область",
                "RU-NGR": "Новгородская область",
                "RU-NVS": "Новосибирская область",
                "RU-OMS": "Омская область",
                "RU-ORE": "Оренбургская область",
                "RU-ORL": "Орловская область",
                "RU-PNZ": "Пензенская область",
                "RU-PER": "Пермский край",
                "RU-PRI": "Приморский край",
                "RU-PSK": "Псковская область",
                "RU-ROS": "Ростовская область",
                "RU-RYA": "Рязанская область",
                "RU-SA": "Саха (Якутия)",
                "RU-SAK": "Сахалинская область",
                "RU-SAM": "Самарская область",
                "RU-SPE": "Санкт-Петербург",
                "RU-SAR": "Саратовская область",
                "RU-SE": "Северная Осетия — Алания",
                "RU-SMO": "Смоленская область",
                "RU-STA": "Ставропольский край",
                "RU-SVE": "Свердловская область",
                "RU-TAM": "Тамбовская область",
                "RU-TA": "Татарстан",
                "RU-TOM": "Томская область",
                "RU-TUL": "Тульская область",
                "RU-TVE": " Тверская область",
                "RU-TYU": "Тюменская область",
                "RU-TY": "Тыва",
                "RU-UD": "Удмуртия",
                "RU-ULY": "Ульяновская область",
                "RU-VLA": "Владимирская область",
                "RU-VGG": "Волгоградская область",
                "RU-VLG": "Вологодская область",
                "RU-VOR": "Воронежская область",
                "RU-YAN": "Ямало-Ненецкий АО",
                "RU-YAR": "Ярославская область",
                "RU-YEV": "Еврейская АО",
                "RU-ZAB": "Забайкальский край"
            };

            var mapData = {
                "RU-BEL": 57530,
                "RU-VGG": 139380,
                "RU-KRS": 93800,
                "RU-TAM": 87370,
            };

            function validData(val) {
                if (typeof val === "undefined") {
                    ret = "";
                }
                else {
                    ret = val;
                }

                return ret;
            }

            $('#world-map').vectorMap({
                map: 'ru_merc',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#66FF99", "#009933"],
                        normalizeFunction: 'polynomial'
                    }]
                },

                labels: {
                    regions: {
                        render: function (code) {
                            return String(validData(mapData[code])).replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1' + unescape('%u2009'));
                        },
                        offsets: function (code) {
                            return {
                                'RU-VGG': [0, -2],
                                'RU-KRS': [-1, 0],
                                'RU-BEL': [0, -1]
                            }[code];
                        }
                    }
                },
                onRegionTipShow: function (e, el, code) {
                    return el.html(ruRegionName[code]);
                    //el.html(el.html() + '=' + code);
                }
            });

            // отмасштабировать по Воронежской области
            var mapObj = $('#world-map').vectorMap('get', 'mapObject');
            mapObj.setFocus({ region: "RU-VOR" });


            ///////////////////////////////////////////////////////////////////////////////////////
            //// Ползущий график в поступлениях за сутки
            ///////////////////////////////////////////////////////////////////////////////////////

            //var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            //setInterval(function () {
            //    var random = Math.round(Math.random() * 10)
            //    var values = updatingChart.text().split(",")
            //    values.shift()
            //    values.push(random)

            //    updatingChart
            //        .text(values.join(","))
            //        .change()
            //}, 1000);


            /////////////////////////////////////////////////////////////////////////////////////
            // DataTable
            /////////////////////////////////////////////////////////////////////////////////////

            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#table-operation thead th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="' + title + '" />');
                });

                // DataTable
                var table = $('#table-operation').DataTable();

                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            });

            $('#button-yesterday').click(function () {
                var begT = new Date();

                begT.setDate(begT.getDate() - 1)
                begT.setHours(00)
                begT.setMinutes(00)
                begT.setSeconds(00)
                var dateBeg = moment(begT).format('YYYY-MM-DDTHH:mm:ss')
                $('#beg-time').val(dateBeg)

                var endT = new Date();

                endT.setDate(endT.getDate() - 1)
                endT.setHours(23)
                endT.setMinutes(59)
                endT.setSeconds(59)
                var dateEnd = moment(endT).format('YYYY-MM-DDTHH:mm:ss')
                $('#end-time').val(dateEnd)
            });

            $('#button-today').click(function () {
                var begT = new Date();

                begT.setHours(00)
                begT.setMinutes(00)
                begT.setSeconds(00)
                var dateBeg = moment(begT).format('YYYY-MM-DDTHH:mm:ss')
                $('#beg-time').val(dateBeg)

                var endT = new Date();

                var dateEnd = moment(endT).format('YYYY-MM-DDTHH:mm:ss')
                $('#end-time').val(dateEnd)
            });

            $('#button-month').click(function () {
                var begT = new Date();

                begT.setDate(01)
                begT.setHours(00)
                begT.setMinutes(00)
                begT.setSeconds(00)
                var dateBeg = moment(begT).format('YYYY-MM-DDTHH:mm:ss')
                $('#beg-time').val(dateBeg)

                var endT = new Date();

                var dateEnd = moment(endT).format('YYYY-MM-DDTHH:mm:ss')
                $('#end-time').val(dateEnd)
            });

            $(function () {
                var total = 0;
                $("#table-incomes tbody tr").each(function () {
                    total += parseFloat($(this).find("td b").text());
                });
                $("#sum").text(total);

            });

        });

    </script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            timedRefresh(10000);
        });

        function timedRefresh(timeoutPeriod) {
            let period = timeoutPeriod;
            let timedId = setInterval(
            function refreshData() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("UpdateTime", "Dashboards")",
                }).done(function (result) {
                    $('#update-time').html(result);
                });


                $.ajax({
                    type: "GET",
                    url: "@Url.Action("UpdateTable", "Dashboards")",
                }).done(function (result) {
                    $('#op-table').html(result);
                });

                    //if (надо увеличить период обновления){
                    //    period *= 2;
                    //}

                    //alert('tick');
            },
            timeoutPeriod
            );
        };
    </script>*@
}