@foreach (var o in ViewBag.Operations)
    {
        <tr>
            <td><p>@o.IDOperation</p></td>
            <td><p>@o.IDPsc</p></td>
            <td><p>@o.IDOperationType</p></td>
            <td><p>@o.IDCard</p></td>
            <td><p>@o.DTime</p></td>
            <td><p>@o.Amount</p></td>
            <td><p>@o.Balance</p></td>
            <td><p>@o.LocalizedID</p></td>
        </tr>
    }
