@foreach (var o in ViewBag.Operations)
{
    <tr>
        <td>@o.Phone</td>
        <td>@o.CardNum</td>
        <td>@o.CardTypeName</td>
        <td>@o.CardStatusName</td>
        <td>@o.OperationTypeName</td>
        <td>@o.DTime</td>
        <td>@o.Amount</td>
        <td>@o.Balance</td>
        <td>@o.LocalizedBy</td>
        <td>@o.LocalizedID</td>
    </tr>
}
