
@model IEnumerable<Inspinia_MVC5.Models.Operation>
<div id="oper" class="ibox-content">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th><p>IDOperation</p></th>
                <th><p>IDPcs</p></th>
                <th><p>IDOperationType</p></th>
                <th><p>IDCard</p></th>
                <th><p>DTime</p></th>
                <th><p>Amount</p></th>
                <th><p>Balance</p></th>
                <th><p>ServerID</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in ViewBag.Operations)
            {
                <tr>
                    <td><p>@o.OperationID</p></td>
                    <td><p>@o.PscID</p></td>
                    <td><p>@o.OperationTypeID</p></td>
                    <td><p>@o.CardID</p></td>
                    <td><p>@o.DTime</p></td>
                    <td><p>@o.Amount</p></td>
                    <td><p>@o.Balance</p></td>
                    <td><p>@o.ServerID</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>