<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Искать ..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">ECO carwash</span>
            </li>
            <li>
                <div class="lang-button">
                    <a class="btn btn-link set_ru active"><img src="~/Images/flags/16/Russia.png"> RU</a>
                    @*<a class="btn btn-link set_de"><img src="~/Images/flags/16/Germany.png"> DE</a>*@
                </div>
            </li>
            <!--<li>
                @using (Html.BeginForm("ChangeCulture", "Home"))
                {
                    string lang = "ru";
                    if (@Request.Cookies["lang"] != null)
                    {
                        lang = @Request.Cookies["lang"].Value;
                    }

                    <select name="lang" id="lang" onchange="submit()" class="form-control m-b">
                        <option value="ru" @((lang.Contains("ru")) ? "selected" : "")>Русский</option>
                        <option value="en" @((lang.Contains("en")) ? "selected" : "")>English</option>
                    </select>
                }
            </li>
                -->
            <li>
                <i class="fa fa-sign-out"></i> Logout
                @*<a href="@Url.Action("Login", "Pages")">
                    <i class="fa fa-sign-out"></i> Logout
                </a>*@
            </li>
        </ul>
    </nav>
</div>