@model IEnumerable<Inspinia_MVC5.Models.GetDayIncrease_Result>

<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th>№ бокса</th>
            <th>Х10</th>
            <th>Сумма</th>
            <th>Х10</th>
            <th>Х50</th>
            <th>Х100</th>
            <th>Х200</th>
            <th>Сумма</th>
            <th>Итого сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.data1DataData1datapostname</td>
                <td>@n.data1DataData1datam10</td>
                <td></td>
                <td>@n.data1DataData1datab10</td>
                <td>@n.data1DataData1datab50</td>
                <td>@n.data1DataData1datab100</td>
                <td>@n.data1DataData1datab500</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>


