@model IEnumerable<Inspinia_MVC5.Models.GetIncreaseByEvents_Result>

<div class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
</div>

<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th>Мойка</th>
            <th>Адрес мойки</th>
            <th>Пост</th>
            <th>Время</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.WashCode</td>
                <td>@n.WashAddress</td>
                <td>@n.PostName</td>
                <td>@n.DTime</td>
                <td style="text-align:right">@n.amount</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Итого:</th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align:right"></th>
        </tr>
    </tfoot>
</table>


