@model IEnumerable<Inspinia_MVC5.Models.GetIncreaseByPosts_Result>

<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th>Код региона</th>
            <th>Регион</th>
            <th>Код мойки</th>
            <th>Адрес мойки</th>
            <th>Код поста</th>
            <th>Пост</th>
            <th>m10</th>
            <th>b10</th>
            <th>b50</th>
            <th>b100</th>
            <th>b200</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.RegionCode</td>
                <td>@n.RegionName</td>
                <td>@n.WashCode</td>
                <td>@n.WashAddress</td>
                <td>@n.PostCode</td>
                <td>@n.PostName</td>
                <td>@n.m10</td>
                <td>@n.b10</td>
                <td>@n.b50</td>
                <td>@n.b100</td>
                <td>@n.b200</td>
            </tr>
        }
    </tbody>
</table>


