@{
    ViewBag.Title = "Поступления денежных средств через терминалы";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Поступления енежных средств через терминалы</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Главная</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Поступления денежных средств через терминалы</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom" id="filter-i">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-normal">Период поступлений</label>
                <div class="input-group date" id="date-f" data-date="12/03/2012">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="@ViewBag.EndDate">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 table-cards">
            <div class="ibox">
                <div class="ibox-content-more">
                    @Html.Action("_IncreasesLipetskList", "Increases", new
               {
                   enddate = ViewBag.EndDate
               })
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="edate" />

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">

    function initDataTable() {
        $('#table-increases').DataTable({
            "responsive": true,
            "paging": false,
            "info": false,
            "searching": false,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'excel', title: 'Report' },
                { extend: 'pdf', title: 'Report' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            "language": {
                "zeroRecords": "Данные по заданному фильтру не найдены",
                "emptyTable": "Данные по заданному фильтру не найдены"
            }
        });
    }

        function filter() {

            var edate = $('#edate').val();

            $.ajax({
                type: "POST",
                cache: true,
                data: {
                    date: edate
                },
                success: function () {
                },
                error: function () {
                    alert('Возникла ошибка!\nПроверьте, все ли данные Вы ввели!');
                },
                url: "@Url.Action("IncreasesLipetskFilter", "Increases")"
            }).done(function (result) {
                $('.ibox-content-more').html(result);

                initDataTable();
            });
        }

        $('#edate').val('@ViewBag.EndDate');

        $(document).ready(function () {

            $("#filter-i").on("input", filter);
            initDataTable();

            $(document).on("click", "#clear-date", function () {
                $('#filter-date span').html(" За всё время");
                $('#edate').val("");
                filter();
            });
        });

        $('#date-f').datepicker({
            format: "dd.mm.yyyy",
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true,
            locale: "ru"
        }).on('changeDate', function () {
            var ttt = $('#date-f').datepicker('getFormattedDate');
            ttt instanceof Date;
            $('#edate').val(ttt);
            filter();
            });

        $('#date-f').datepicker('update', moment().format('DD.MM.YYYY'));

        //$('input[name="daterange"]').daterangepicker();

        ////$('#bdate').val(moment().startOf('day').format('DD.MM.YYYY HH:mm:ss'));
        ////$('#edate').val(moment().format('DD.MM.YYYY HH:mm:ss'));

        ////$('#filter-date span').html(moment().startOf('day').format('с DD.MM.YYYY HH:mm:ss') + ' ' + moment().format('по DD.MM.YYYY HH:mm:ss'));

        //$('#filter-date span').html($('#bdate').val() + ' ' + $('#edate').val());

        //$('#filter-date').daterangepicker({
        //    "timePicker": true,
        //    "timePicker24Hour": true,
        //    "timePickerSeconds": true,
        //    "ranges": {
        //        'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
        //        'сегодня': [moment().startOf('day'), moment()],
        //        'текущий месяц': [moment().startOf('month'), moment()],
        //        'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        //    },
        //    "locale": {
        //        "format": "DD.MM.YYYY",
        //        "separator": " ",
        //        "applyLabel": "Выбрать",
        //        "cancelLabel": "Отмена",
        //        "fromLabel": "From",
        //        "toLabel": "To",
        //        "customRangeLabel": "Custom",
        //        "weekLabel": "W",
        //        "daysOfWeek": [
        //            "Вс",
        //            "Пн",
        //            "Вт",
        //            "Ср",
        //            "Чт",
        //            "Пт",
        //            "Сб"
        //        ],
        //        "monthNames": [
        //            "Январь",
        //            "Февраль",
        //            "Март",
        //            "Апрель",
        //            "Май",
        //            "Июнь",
        //            "Июль",
        //            "Август",
        //            "Сентябрь",
        //            "Октябрь",
        //            "Ноябрь",
        //            "Декабрь"
        //        ],
        //        "firstDay": 1
        //    },
        //    "showCustomRangeLabel": false,
        //    "alwaysShowCalendars": true,
        //    "startDate": moment().subtract(1, 'days').startOf('day'),
        //    "endDate": moment().subtract(1, 'days').endOf('day'),
        //    "opens": "right",
        //    "drops": "down"
        //}, function (start, end, label) {
        //    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        //    $('#filter-date span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));

        //    $('#bdate').val(start.format('DD.MM.YYYY HH:mm:ss'));
        //    $('#edate').val(end.format('DD.MM.YYYY HH:mm:ss'));
        //    filter();
        //});
    </script>
}

