@{
    ViewBag.Title = "Финансовые операции";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Финансовые операции</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Инфо</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Финансовые операции</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">макет</span>
                    <h5>Поступления</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">987 654</h1>
                    <small>@DateTime.Today.AddDays(-1).ToString("dd MMMM yyyy")</small>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">по номиналу</span>
                    <h5>Количество купюр</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="doughnutChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <label class="col-form-labe" for="time-operation-filter">Время операции</label>
                <div class="row">
                    <div class="col-sm-10">
                        <div id="time-operation-filter" name="time-operation-filter" class="form-control">
                            <i class="fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="clear_drp_op" type="button" class="btn btn-outline-danger btn-circle">&#10006;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @*<label class="col-form-labe" for="btn_for_filter" style="filter: blur(100px)">Показать</label>*@
                <button type="button" id="btn-for-filter" class="btn btn-block btn-outline btn-success font-bold">Показать</button>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 table-finance-operations">
            <div class="ibox">
                <div class="ibox-content-more">
                    @Html.Action("UpdateViewBagFinanceOperations", "Finance", new {
                       begTime = ViewBag.timeOperationBeg,
                       endTime = ViewBag.timeOperationEnd})
                </div>
            </div>
        </div>
    </div>
    <input hidden id="filter-timeoperationbeg" value="@ViewBag.timeOperationBeg" />
    <input hidden id="filter-timeoperationend" value="@ViewBag.timeOperationEnd" />
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/chartjs")

    <script type="text/javascript">
        $(document).ready(function () {

            var doughnutData = {
                labels: ["50 р.", "100 р.", "200 р.", "500 р.", "1000 р."],
                datasets: [{
                    data: [102, 78, 22, 31, 9],
                    backgroundColor: ["#d9e6e6", "#d9d5b0", "#80cb78", "#b8878b", "#6eaeba"]
                }]
            };


            var doughnutOptions = {
                responsive: true,
                legend: {
                    position: 'left'
                }
            };


            var ctx = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx, {
                type: 'doughnut',
                data: doughnutData,
                options: doughnutOptions
            });

            $('.table_incashwashes').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Report' },
                    { extend: 'pdf', title: 'Report' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            $(document).on("click", "#clear_drp_op", function () {
                $('#time-operation-filter span').empty();
                $('#filter-timeoperationbeg').val("");
                $('#filter-timeoperationend').val("");
            });

            $(document).on("click", "#btn-for-filter", function () {
                var startDate = $('#filter-timeoperationbeg').val();
                var stopDate = $('#filter-timeoperationend').val();

                $.ajax({
                    type: "GET",
                    cache: false,
                    data: {
                        begTime: startDate,
                        endTime: stopDate,
                    },
                    success: function () {
                        $('.alert-success').fadeIn('slow');
                        $('.alert-success').delay(3000).fadeOut('slow');
                    },
                    error: function () {
                        alert('Error occured');
                    },
                    url: "@Url.Action("UpdateViewBagFinanceOperations", "Finance")",
                }).done(function (result) {
                    $('.table-finance-operations').find('.ibox-content-more').html(result);

                    $('.table_incashwashes').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false,
                        dom: '<"html5buttons"B>lTfgitp',
                        buttons: [
                            { extend: 'excel', title: 'Report' },
                            { extend: 'pdf', title: 'Report' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }
                        ],
                        "language": {
                            "zeroRecords": "Данные по заданному фильтру не найдены",
                            "emptyTable": "Данные по заданному фильтру не найдены"
                        }
                    });
                });
            });
        });


        $('input[name="daterange"]').daterangepicker();

        $('#time-operation-filter span').html(moment().startOf('day').format('с DD.MM.YYYY HH:mm:ss') + ' ' + moment().format('по DD.MM.YYYY HH:mm:ss'));

        $('#time-operation-filter').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'сегодня': [moment().startOf('day'), moment()],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment().subtract(1, 'days').startOf('day'),
            "endDate": moment().subtract(1, 'days').endOf('day'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#time-operation-filter span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));

            $('#filter-timeoperationbeg').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#filter-timeoperationend').val(end.format('DD.MM.YYYY HH:mm:ss'));
        });
    </script>
}
