@{
    ViewBag.Title = "События на разменниках";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>События на разменниках</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Сводка</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>События на разменниках</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom" id="filter-i">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-labe">Период зачислений</label>
                <div id="filter-date" class="form-control">
                    <i class="fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-labe">Разменник</label>
                <select id="filter-changer" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.Changers)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-labe">Операция</label>
                <select id="filter-operation" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.Events)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 table-cards">
            <div class="ibox" id="ibox-load">
                <div class="ibox-content" id="output">
                    @Html.Action("_EventChangerList", "EventChanger", new
                   {
                       begdate = ViewBag.BegDate,
                       enddate = ViewBag.EndDate,
                       changerCode = "",
                       kindEventCode = ""
                   })
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="bdate" />
<input hidden id="edate" />

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">

    function initDataTable() {
        $('#table-events').DataTable({
            "responsive": false,
            "searching": false,
            "pageLength": 100,
            "lengthChange": false,
            "pagingType": "full_numbers",

            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                }, null, null, null
            ],
            "order": [[1, 'asc']],

            "bSortClasses": false,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [],
            "language": {
                "infoEmpty": "Нет записей",
                "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "zeroRecords": "Данные по заданному фильтру не найдены",
                "emptyTable": "Данные по заданному фильтру не найдены"
            }
        });
        }

        function format(d) {
            // `d` is the original data object for the row
            let ads = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="display table table-striped table-bordered table-hover responsive">'; 
                //'<thead>' +
                //    '<tr>' +
                //        '<th></th>' +
                //        '<th>Тип операции</th>' +
                //        '<th>Время операции</th>' +
                //        '<th>Детали операции</th>' +
                //    '</tr>' +
                //'</thead>';
            for (let i = 0; i < d.length; i++) {
                ads = ads +
                    '<tr>' +
                        '<td>' + (i + 1) + '</td>' +
                        //'<td>' + d[i].KindEvent + '</td>' +
                        '<td>' + moment(d[i].DTimeEvent, "x").format('DD.MM.YYYY HH:mm:ss') + '</td>' +
                        '<td>' + d[i].DataEvent + '</td>' +
                    '</tr>';
            }
            //d.forEach(element => (ads = ads +
            //    '<tr>' +
            //        '<td>' + element.KindEvent + '</td>' +
            //        '<td>' + new Date(element.DTimeEvent).toString() + '</td>' +
            //        '<td>' + element.DataEvent + '</td>' +
            //    '</tr>'
            //));
            ads = ads + '</table>';
            return ads;
        }

        function filter() {
            var bdate = $('#bdate').val();
            var edate = $('#edate').val();
            var changer = $('#filter-changer').find(":selected").val();
            var operation = $('#filter-operation').find(":selected").val();

            $.ajax({
                type: "POST",
                cache: true,
                data: {
                    begdate: bdate,
                    enddate: edate,
                    changerCode: changer,
                    kindEventCode: operation
                },
                beforeSend: function () {
                    $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                },
                complete: function () {
                    $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                },
                success: function () {
                },
                error: function (error) {
                    if (error.status == 404) {
                        $('#output').html("Не удалось выполнить действие. Ошибка 404. " + error.statusText);
                    }
                },
                url: "@Url.Action("EventChangerFilter", "EventChanger")"
            }).done(function (result) {
                $('#output').html(result);

                initDataTable();
            });
        }

        $('#filter-changer').val('@ViewBag.Changer');

        $('#bdate').val('@ViewBag.BegDate');
        $('#edate').val('@ViewBag.EndDate');

        $(document).ready(function () {

            $("#filter-changer").on("input", filter);
            $("#filter-operation").on("input", filter);

            $("#filter-i").on("input", filter);

            initDataTable();

            $(document).on('click', 'td.details-control', function () {

                var table = $('#table-events').DataTable();
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(tr.data('details'))).show();
                    tr.addClass('shown');
                }
            });
        });

        $('input[name="daterange"]').daterangepicker();

        //$('#bdate').val(moment().startOf('day').format('DD.MM.YYYY HH:mm:ss'));
        //$('#edate').val(moment().format('DD.MM.YYYY HH:mm:ss'));

        //$('#filter-date span').html(moment().startOf('day').format('с DD.MM.YYYY HH:mm:ss') + ' ' + moment().format('по DD.MM.YYYY HH:mm:ss'));

        if ($('#bdate').val() && !moment('1.1.2019').isSame($('#bdate').val())) {
            $('#filter-date span').html('с ' + $('#bdate').val() + ' по ' + $('#edate').val());
        }
        else {
            $('#filter-date span').html('С начала работы');
        }

        $('#filter-date').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'сегодня': [moment().startOf('day'), moment()],
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'с начала работы': [moment('1.1.2019'), moment()]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment($('#bdate').val(), 'DD.MM.YYYY HH:mm:ss'),
            "endDate": moment($('#edate').val(), 'DD.MM.YYYY HH:mm:ss'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                if (moment('1.1.2019').isSame(start)) {
                    $('#filter-date span').html('С начала работы');
                }
                else {
                    $('#filter-date span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));
                }

                $('#bdate').val(start.format('DD.MM.YYYY HH:mm:ss'));
                $('#edate').val(end.format('DD.MM.YYYY HH:mm:ss'));

                filter();
        });
    </script>
}




