@{
    ViewBag.Title = "Карты";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Карты</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Инфо</a>
            </li>
            <li class="breadcrumb-item">
                <a>Карты</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="card_num_input_filter">Номер карты</label>
                <input type="text" id="card_num_input_filter" name="card_num_input_filter" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-form-labe" for="card_type_input_filter">Тип карты</label>
                    <select name="card_type_input_filter" id="card_type_input_filter" class="form-control">
                        <option value="" selected=""></option>
                        @foreach (var item in ViewBag.CardTypes)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="card_status_input_filter">Статус карты</label>
                <select name="card_status_input_filter" id="card_status_input_filter" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.CardStatuses)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="balance_input_filter">Баланс</label>
                <input type="text" id="balance_input_filter" name="balance_input_filter" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-labe" for="date_activation_input_filter">Дата активации</label>
                <div id="date_activation_input_filter" class="form-control">
                    <i class="fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-labe" for="date_last_operation_input_filter">Дата последней операции</label>
                <div id="date_last_operation_input_filter" class="form-control">
                    <i class="fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-labe" for="place_activation_input_filter">Место активаации</label>
                <select name="place_activation_input_filter" id="place_activation_input_filter" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.Psces)
                    {
                        <option value="@item.IDWash">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-labe" for="place_last_operation_input_filter">Место последней операции</label>
                <select name="place_last_operation_input_filter" id="place_last_operation_input_filter" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.Psces)
                    {
                        <option value="@item.IDWash">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="phone_input_filter">Телефон</label>
                <input type="text" id="phone_input_filter" name="phone_input_filter" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="sum_incashes_input_filter">Сумма пополнений</label>
                <div id="range_slider" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                    <div class="noUi-base">
                        <div class="noUi-origin noUi-connect noUi-draggable" style="left: 23.2777%;">
                            <div class="noUi-handle noUi-handle-lower">
                            </div>
                        </div>
                        <div class="noUi-origin noUi-background" style="left: 62.3157%;">
                            <div class="noUi-handle noUi-handle-upper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="sum_chargde_off_input_filter">Сумма списаний</label>
                <div class="d-flex justify-content-center my-4">
                    <span class="font-weight-bold purple-text mr-2 mt-1">0</span>
                    <form class="range-field w-75">
                        <input class="border-0" type="range" min="0" max="100" />
                    </form>
                    <span class="font-weight-bold purple-text ml-2 mt-1">100</span>
                </div>            
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="amount_operations_input_filter">Количество операции</label>
                <input type="text" id="amount_operations_input_filter" name="amount_operations_input_filter" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @*<label class="col-form-labe" for="btn_for_filter" style="filter: blur(100px)">Показать</label>*@
                <button type="button" id="btn-for-filter" class="btn btn-block btn-outline btn-success font-bold">Показать</button>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 table-cards">
            <div class="ibox">
                <div class="ibox-content-more">
                    @Html.Action("UpdateViewBagCards", "Cards", new
               {
                   phone = ViewBag.phone,
                   cardNum = ViewBag.cardNum,
                   cardTypeCode = ViewBag.cardTypeCode,
                   cardStatusName = ViewBag.cardStatusName,
                   balanceMin = ViewBag.balanceMin,
                   balanceMax = ViewBag.balanceMax,
                   activationDateBeg = ViewBag.activationDateBeg,
                   activationDateEnd = ViewBag.activationDateEnd,
                   activationBy = ViewBag.activationBy,
                   lastOperationDateBeg = ViewBag.lastOperationDateBeg,
                   lastOperationDateEnd = ViewBag.lastOperationDateEnd,
                   lastOperationBy = ViewBag.lastOperationBy,
                   increaseSumMin = ViewBag.increaseSumMin,
                   increaseSumMax= ViewBag.increaseSumMax,
                   decreaseSumMin = ViewBag.decreaseSumMin,
                   decreaseSumMax = ViewBag.decreaseSumMax,
                   countOperationMin = ViewBag.countOperaionMin,
                   countOperationMax = ViewBag.countOperaionMin
                })
                </div>
            </div>
        </div>
    </div>
</div>

<input id="filter-phone" value="@ViewBag.phone" />
<input id="filter-cardNum" value="@ViewBag.cardNum" />
<input id="filter-cardTypeCode" value="@ViewBag.cardTypeCode" />
<input id="filter-cardStatusName" value="@ViewBag.cardStatusName" />
<input id="filter-balancemin" value="@ViewBag.balanceMin" />
<input id="filter-balancemax" value="@ViewBag.balanceMax" />
<input id="filter-activationdatebeg" value="@ViewBag.activationDateBeg" />
<input id="filter-activationdateend" value="@ViewBag.activationDateEnd" />
<input id="filter-activationby" value="@ViewBag.activationBy" />
<input id="filter-lastoperationdatebeg" value="@ViewBag.lastOperationDateBeg" />
<input id="filter-lastoperationdateend" value="@ViewBag.lastOperationDateEnd" />
<input id="filter-lastoperationby" value="@ViewBag.lastOperationBy" />
<input id="filter-increasesummin" value="@ViewBag.increaseSumMin" />
<input id="filter-increasesummax" value="@ViewBag.increaseSumMax" />
<input id="filter-decreasesummin" value="@ViewBag.decreaseSumMin" />
<input id="filter-decreasesummax" value="@ViewBag.decreaseSumMax" />
<input id="filter-countoperationmin" value="@ViewBag.countOperationMin" />
<input id="filter-countoperationmax" value="@ViewBag.countOperationMax" />

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.table_incashwashes').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Report' },
                    { extend: 'pdf', title: 'Report' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            $(document).on("change", '#card_num_input_filter', function () {
                $('#filter-cardNum').val($(this).val());
            });

            $(document).on("change", '#card_num_input_filter', function () {
                $('#filter-cardNum').val($(this).val());
            });
            $(document).on("change", '#card_type_input_filter', function () {
                $('#filter-cardTypeCode').val($(this).find(":selected").val());
            });
            $(document).on("change", '#card_status_input_filter', function () {
                $('#filter-cardStatusName').val($(this).find(":selected").val());
            });
            $(document).on("change", '#balance_input_filter', function () {
                $('#filter-balance').val($(this).val());
            });
            $(document).on("change", '#place_activation_input_filter', function () {
                $('#filter-placeactivation').val($(this).find(":selected").val());
            });
            $(document).on("change", '#place_last_operation_input_filter', function () {
                $('#filter-placelastop').val($(this).find(":selected").val());
            });
            $(document).on("change", '#sum_incashes_input_filter', function () {
                $('#filter-sumincashes').val($(this).val());
            });
            $(document).on("change", '#sum_chardge_off_input_filter', function () {
                $('#filter-sumchardgeoff').val($(this).val());
            });
            $(document).on("change", '#amount_operations_input_filter', function () {
                $('#filter-amountoperations').val($(this).val());
            });

            $(document).on("click", "#btn-for-filter", function () {
                var startDateActivation = $('#filter-startdateactivation').val();
                var stopDateActivation = $('#filter-stopdateactivation').val();
                var startDateLO = $('#filter-startdatelastop').val();
                var stopDateLO = $('#filter-stopdatelastop').val();
                var cardNum = $("#filter-cardNum").val();
                var cardTypeCode = $("#filter-cardTypeCode").val()
                var cardStatusName = $("#filter-cardStatusName").val();
                var balance = $("#filter-balance").val();
                var placeActivation = $("#filter-placeactivation").val();
                var placeLO = $("#filter-placelastop").val();
                var sumIncashes = $("#filter-sumincashes").val();
                var sumChardgeOff = $("#filter-sumchardgeoff").val();
                var amountOperations = $("#filter-amountoperations").val();

                $.ajax({
                    type: "GET",
                    cache: false,
                    data: {
                        cardNum: cardNum,
                        cardType: cardTypeCode,
                        cardStatus: cardStatusName,
                        balance: balance,
                        startDateActivation: startDateActivation,
                        endDateActivation: stopDateActivation,
                        placeActivation: placeActivation,
                        startDateLO: startDateLO,
                        endDateLO: stopDateLO,
                        placeLO: placeLO,
                        sumIncashes: sumIncashes,
                        sumChardgeOff: sumChardgeOff,
                        amountOperations: amountOperations

                    },
                    success: function () {
                        $('.alert-success').fadeIn('slow');
                        $('.alert-success').delay(3000).fadeOut('slow');
                    },
                    error: function () {
                        alert('Error occured');
                    },
                    url: "@Url.Action("UpdateViewBagCards", "Cards")",
                }).done(function (result) {
                    $('.table-cards').find('.ibox-content-more').html(result);

                    $('.table_incashwashes').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false,
                        dom: '<"html5buttons"B>lTfgitp',
                        buttons: [
                            { extend: 'excel', title: 'Report' },
                            { extend: 'pdf', title: 'Report' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }
                        ],
                        "language": {
                            "zeroRecords": "Данные по заданному фильтру не найдены",
                            "emptyTable": "Данные по заданному фильтру не найдены"
                        }
                    });
                });
            });
        });


        $('input[name="daterange"]').daterangepicker();

        $('#date_activation_input_filter span').html(moment().subtract(1, 'days').startOf('day').format('с DD.MM.YYYY HH:mm:ss') + ' ' + moment().subtract(1, 'days').endOf('day').format('по DD.MM.YYYY HH:mm:ss'));

        $('#date_activation_input_filter').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'сегодня': [moment().startOf('day'), moment()],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment().subtract(1, 'days').startOf('day'),
            "endDate": moment().subtract(1, 'days').endOf('day'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#date_activation_input_filter span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));

            $('#filter-startdateactivation').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#filter-stopdateactivation').val(end.format('DD.MM.YYYY HH:mm:ss'));
        });

        $('#date_last_operation_input_filter span').html(moment().subtract(1, 'days').startOf('day').format('с DD.MM.YYYY HH:mm:ss') + ' ' + moment().subtract(1, 'days').endOf('day').format('по DD.MM.YYYY HH:mm:ss'));

        $('#date_last_operation_input_filter').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'сегодня': [moment().startOf('day'), moment()],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment().subtract(1, 'days').startOf('day'),
            "endDate": moment().subtract(1, 'days').endOf('day'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#date_last_operation_input_filter span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));

            $('#filter-startdatelastop').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#filter-stopdatelastop').val(end.format('DD.MM.YYYY HH:mm:ss'));
        });

    </script>
}