@{
    ViewBag.Title = "Карты";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.CardNum</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Сводка</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Cards", "Cards", new {
                                        begTimeLO = DateTime.Today.AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        endTimeLO = DateTime.Today.AddSeconds(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        begTimeActivation = DateTime.Today.AddMonths(-1).ToString("dd.MM.yyyy HH:mm:ss"),
                                        endTimeActivation = DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")
                                        })">
                    Карты
                </a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewBag.CardNum</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe">Телефон</label>
                <input type="text" id="filter-phone" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe">Номер карты</label>
                <input type="text" id="filter-card-num" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-form-labe">Тип карты</label>
                    <select id="filter-card-type" class="form-control">
                        <option value="" selected=""></option>
                        @foreach (var item in ViewBag.CardTypes)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe">Статус карты</label>
                <select id="filter-card-status" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.CardStatuses)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe">Тип операции</label>
                <select id="filter-operation-type" class="form-control">
                    <option value="" selected=""></option>
                    @foreach (var item in ViewBag.OperationTypes)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe">Место операции</label>
                <select id="filter-operation-by" class="form-control">
                    <option value="" selected=""></option>
                    <optgroup label="Денежные разменники">
                        @foreach (var item in ViewBag.Changers)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </optgroup>
                    <optgroup label="Моечные посты">
                        @foreach (var item in ViewBag.Posts)
                        {
                            <option value="@item.Code">@item.Code</option>
                        }
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-labe" for="date_operation_input_filter">Дата операции</label>
                <div class="row">
                    <div class="col-sm-10">
                        <div id="date_operation_input_filter" class="form-control">
                            <i class="fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="clear_drp_op" type="button" class="btn btn-outline-danger btn-circle">&#10006;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @*<label class="col-form-labe" for="btn_for_filter" style="filter: blur(100px)">Показать</label>*@
                <button type="button" id="btn-for-filter" class="ladda-button btn btn-block btn-outline btn-success font-bold">Показать</button>
            </div>
        </div>
        <div class="col-sm-2">
            <button id="clear_all_filters" type="button" class="btn btn-block btn-outline-danger">
                Очистить всё
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 table-cards">
            <div class="ibox">
                <div class="ibox-content-more">
                    @Html.Action("UpdateViewBagOperations", "Cards", new
               {
                   phone = ViewBag.Phone,
                   cardNum = ViewBag.CardNum,
                   cardTypeCode = "",
                   cardStatusName = "",
                   operationDateBeg = ViewBag.OperationDateBeg,
                   operationDateEnd = ViewBag.OperationDateEnd,
                   operationTypeName = ViewBag.OperationTypeName,
                   codeOperationBy = ViewBag.CodeOperationBy
                })
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="bdate" value="@ViewBag.OperationDateBeg" />
<input hidden id="edate" value="@ViewBag.OperationDateEnd" />

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/ladda")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btn-for-filter').ladda();

            $('#filter-phone').val('@ViewBag.Phone');
            $('#filter-card-num').val('@ViewBag.CardNum');

            $("#filter-card-type option").filter(function () {
                return this.text == '@ViewBag.CardTypeCode';
            }).attr('selected', true);

            $("#filter-card-status option").filter(function () {
                return this.text == '@ViewBag.CardStatusName';
            }).attr('selected', true);

            $('.table_incashwashes').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Report' },
                    { extend: 'pdf', title: 'Report' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                "language": {
                    "infoEmpty": "Нет записей",
                    "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "zeroRecords": "Данные по заданному фильтру не найдены",
                    "emptyTable": "Данные по заданному фильтру не найдены"
                }
            });

            $(document).on("click", "#clear_drp_op", function () {
                $('#date_operation_input_filter span').html(" За всё время");
                $('#bdate').val("");
                $('#edate').val("");
            });

            $(document).on("click", "#clear_all_filters", function () {
                $('#clear_drp_op').click();

                $('#filter-phone').val("");
                $('#filter-card-num').val("");
                $('#filter-card-type').val("");
                $('#filter-card-status').val("");
                $('#filter-operation-type').val("");
                $('#filter-operation-by').val("");
            });

            $(document).on("click", "#btn-for-filter", function () {

                var phone = $('#filter-phone').val();
                var cardNum = $('#filter-card-num').val();
                var cardTypeCode = $('#filter-card-type').find(":selected").val();
                var cardStatusName = $('#filter-card-status').find(":selected").val();
                var operationdatebeg = $('#bdate').val();
                var operationdateend = $('#edate').val();
                var operationTypeName = $('#filter-operation-type').find(":selected").val();
                var codeOperationBy = $('#filter-operation-by').find(":selected").val();

                $.ajax({
                    type: "GET",
                    cache: false,
                    data: {
                        phone: phone,
                        cardNum: cardNum,
                        cardTypeCode: cardTypeCode,
                        cardStatusName: cardStatusName,
                        operationDateBeg: operationdatebeg,
                        operationDateEnd: operationdateend,
                        operationTypeName: operationTypeName,
                        codeOperationBy: codeOperationBy,
                    },
                    beforeSend: function () {
                        $('#btn-for-filter').ladda('start');
                    },
                    complete: function () {
                        $('#btn-for-filter').ladda('stop');
                    },
                    success: function () {
                        $('.alert-success').fadeIn('slow');
                        $('.alert-success').delay(3000).fadeOut('slow');
                    },
                    error: function () {
                        alert('Error occured');
                    },
                    url: "@Url.Action("UpdateViewBagOperations", "Cards")",
                }).done(function (result) {
                    $('.table-cards').find('.ibox-content-more').html(result);

                    $('.table_incashwashes').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false,
                        dom: '<"html5buttons"B>lTfgitp',
                        buttons: [
                            { extend: 'excel', title: 'Report' },
                            { extend: 'pdf', title: 'Report' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }
                        ],
                        "language": {
                            "infoEmpty": "Нет записей",
                            "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "paginate": {
                                "first": "Первая",
                                "previous": "Предыдущая",
                                "next": "Следующая",
                                "last": "Последняя"
                            },
                            "zeroRecords": "Данные по заданному фильтру не найдены",
                            "emptyTable": "Данные по заданному фильтру не найдены"
                        }
                    });
                });
            });
        });

        $('input[name="daterange"]').daterangepicker();

        if ($('#bdate').val()) {
            $('#date_operation_input_filter span').html('с ' + $('#bdate').val() + ' по ' + $('#edate').val());
        }
        else {
            $('#date_operation_input_filter span').html('За всё время');
        }
        $('#date_operation_input_filter').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'сегодня': [moment().startOf('day'), moment()],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment($('#bdate').val(), 'DD.MM.YYYY HH:mm:ss'),
            "endDate": moment($('#edate').val(), 'DD.MM.YYYY HH:mm:ss'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#date_operation_input_filter span').html(start.format('с DD.MM.YYYY HH:mm:ss') + ' ' + end.format('по DD.MM.YYYY HH:mm:ss'));

            $('#bdate').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#edate').val(end.format('DD.MM.YYYY HH:mm:ss')); 
        });

    </script>
}

