@model Inspinia_MVC5.Helpers.InfoChanger

<h2 id="changer-name"><strong>@Model.changer.Name</strong><span id="changer-state"></span></h2>
<hr />
<div id="changer-info">
    <div class="row">
        <div class="col-lg-4">
            <h2>Принято</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Монеты 10&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.m10</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 50&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b50</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 100&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b100</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 200&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b200</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 500&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b500</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 1000&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b1000</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Банкноты 2000&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.b2000</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2>Сдача</h2>
            @if (Model.hopper != null)
            {
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Монеты 10&nbsp;руб.</h4>
                    </div>
                    <div class="col-lg-6">
                        <h4>@Model.box5_10</h4>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-6">
                    <h4>Ящик&nbsp;1 50&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.box1_50</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Ящик&nbsp;2 100&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.box2_100</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Ящик&nbsp;3 50&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.box3_50</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Ящик&nbsp;4 100&nbsp;руб.</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.box4_100</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2>Карты</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Плохие карты</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.badCards</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Карты в&nbsp;стеке</h4>
                </div>
                <div class="col-lg-6">
                    <h4>@Model.availableCards</h4>
                </div>
            </div>
        </div>
    </div>
    @if (Model.bill != null || Model.issueCards != null || Model.cards != null)
    {
        <div class="row" style="margin:10px;">
            <div class="col-lg-4">
                @if (Model.bill != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.bill.devicename</div>

                        @if (Model.bill.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.bill.errors)</div>
                        }
                        else if (Model.bill.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.bill.errors)</div>
                        }
                        else if (Model.bill.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.bill.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.issueCards != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.issueCards.devicename</div>

                        @if (Model.issueCards.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.issueCards.errors)</div>
                        }
                        else if (Model.issueCards.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.issueCards.errors)</div>
                        }
                        else if (Model.issueCards.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.issueCards.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.cards != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.cards.devicename</div>

                        @if (Model.cards.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.cards.errors)</div>
                        }
                        else if (Model.cards.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.cards.errors)</div>
                        }
                        else if (Model.cards.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.cards.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.coiner != null || Model.oddMoney != null || Model.fr != null)
    {
        <div class="row" style="margin:10px">
            <div class="col-lg-4">
                @if (Model.coiner != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.coiner.devicename</div>

                        @if (Model.coiner.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.coiner.errors)</div>
                        }
                        else if (Model.coiner.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.coiner.errors)</div>
                        }
                        else if (Model.coiner.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.coiner.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.oddMoney != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.oddMoney.devicename</div>

                        @if (Model.oddMoney.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.oddMoney.errors)</div>
                        }
                        else if (Model.oddMoney.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.oddMoney.errors)</div>
                        }
                        else if (Model.oddMoney.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.oddMoney.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.fr != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.fr.devicename</div>

                        @if (Model.fr.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.fr.errors)</div>
                        }
                        else if (Model.fr.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.fr.errors)</div>
                        }
                        else if (Model.fr.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.fr.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.bank != null || Model.hopper != null || Model.printCheck != null)
    {
        <div class="row" style="margin:10px">
            <div class="col-lg-4">
                @if (Model.bank != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.bank.devicename</div>

                        @if (Model.bank.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.bank.errors)</div>
                        }
                        else if (Model.bank.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.bank.errors)</div>
                        }
                        else if (Model.bank.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.bank.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.hopper != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.hopper.devicename</div>

                        @if (Model.hopper.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.hopper.errors)</div>
                        }
                        else if (Model.hopper.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.hopper.errors)</div>
                        }
                        else if (Model.hopper.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if (Model.printCheck != null)
                {
                    <div class="sensor">
                        <div class="sensor-name">@Model.printCheck.devicename</div>

                        @if (Model.printCheck.errlevel == "critical")
                        {
                            <div class="sensor-state-notwork">@string.Join(", ", Model.printCheck.errors)</div>
                        }
                        else if (Model.printCheck.errlevel == "warning")
                        {
                            <div class="sensor-state-notconnect">@string.Join(", ", Model.printCheck.errors)</div>
                        }
                        else if (Model.printCheck.errlevel == "no_error")
                        {
                            <div class="sensor-state-work">без ошибок</div>
                        }
                        else if (Model.printCheck.errlevel == "not_available")
                        {
                            <div class="sensor-state-notwork">нет подключения</div>
                        }
                    </div>
                }
            </div>
        </div>
    }

</div>

<script>
</script>
