@model Inspinia_MVC5.Helpers.InfoChanger

<h2><strong>@Model.changer.Name</strong></h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        <h2>Принято</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Монеты 10&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.m10</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 50&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 100&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b100</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 200&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b200</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 500&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b500</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 1000&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b1000</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 2000&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b2000</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h2>Сдача</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Монеты 10&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>*надо добавить поле*</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик&nbsp;1 50&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box1_50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик&nbsp;2 100&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box2_100</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик&nbsp;3 50&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box3_50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик&nbsp;4 100&nbsp;руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box4_100</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h2>Карты</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Плохие карты</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.badCards</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Карты в&nbsp;стеке</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.availableCards</h4>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:10px;">
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Купюрник</div>
            <div class="sensor-state-work">@Model.bill</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Выдача карт</div>
            <div class="sensor-state-work">@Model.issueCards</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Карты</div>
            <div class="sensor-state-work">@Model.cards</div>
        </div>
    </div>
</div>
<div class="row" style="margin:10px">
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Монетник</div>
            <div class="sensor-state-notwork">@Model.coiner</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Сдача</div>
            <div class="sensor-state-notconnect">@Model.oddMoney</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">ФР</div>
            <div class="sensor-state-notwork">@Model.fr</div>
        </div>
    </div>
</div>
<div class="row" style="margin:10px">
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Банк</div>
            <div class="sensor-state-notwork">@Model.bank</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Хоппер</div>
            <div class="sensor-state-work">@Model.hopper</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sensor">
            <div class="sensor-name">Принтер чеков</div>
            <div class="sensor-state-notwork">@Model.printCheck</div>
        </div>
    </div>
</div>

<script>
</script>
