@model Inspinia_MVC5.Helpers.InfoChanger

<h2><strong>@Model.changer.Name</strong></h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        <h2>Принято</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Монеты 10</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.m10</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 50</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 100</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b100</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 200</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b200</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 500</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b500</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 1000</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b1000</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Банкноты 2000</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.b2000</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h2>Сдача</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик 1 50 руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box1_50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик 2 100 руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box2_100</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик 3 50 руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box3_50</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Ящик 4 100 руб.</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.box4_100</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <h2>Карты</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4>Плохие карты</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.badCards</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Карты в стеке</h4>
            </div>
            <div class="col-lg-6">
                <h4>@Model.availableCards</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2 style="display:inline" class="label label-info">Купюрник</h2>
        <h2 style="display:inline" class="label label-info">Монетник</h2>
        <h2 style="display:inline" class="label label-info">Банк</h2>
    </div>
    <div class="col-lg-4">
        <h2 style="display:inline" class="label label-info">Сдача</h2>
        <h2 style="display:inline" class="label label-info">Хоппер</h2>
        <h2 style="display:inline" class="label label-info">Карты</h2>
    </div>
    <div class="col-lg-4">
        <h2 style="display:inline" class="label label-info">Выдача карт</h2>
        <h2 style="display:inline" class="label label-info">ФР</h2>
        <h2 style="display:inline" class="label label-info">Принтер чеков</h2>
    </div>
</div>

<script>
</script>
