
@model IEnumerable<Inspinia_MVC5.Models.Region>

@{
    ViewBag.Title = "Мониторинг платежных аппаратов";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Мониторинг платежных аппаратов</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Сводка</a>
                @*<a href="@Url.Action("Dashboard_2", "Dashboards")">Сводка</a>*@
            </li>
            <li class="breadcrumb-item">
                <a>Платежные аппараты</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Мониторинг платежных аппаратов</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox" id="ibox-load">
                <div class="ibox-title">
                    <h2>Платежные аппараты</h2>
                </div>
                <div class="ibox-content">

                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>

                    <div id="jstree1">
                        <ul>
                            <li class="jstree jstree-open">
                                @Model.ElementAt(0).Company.Name
                                <ul>
                                    @foreach (var region in Model)
                                    {
                                        <li class="jstree-node jstree-open">
                                            @region.Name
                                            <ul>
                                                @foreach (var wash in ViewBag.Washes)
                                                {
                                                    if (wash.IDRegion == region.IDRegion)
                                                    {
                                                        <li class="jstree-node jstree-open">
                                                            @wash.Name
                                                            <ul>
                                                                @foreach (var changer in wash.Changers)
                                                                {
                                                                    foreach (var d in ViewBag.Devices)
                                                                    {
                                                                        if (changer.IDDevice == d.IDDevice && d.IDDeviceType == 3)
                                                                        {
                                                                            <li class="my-1" onclick="select_changer('@d.Code')" id="@d.Code">
                                                                                @d.Name
                                                                            </li>
                                                                        }
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content-more">
                    <a style="margin-left:15px" id="btn-history" class="btn btn-secondary btn-sm" 
                       href="@Url.Action("EventChangerView", "EventChanger", new {
                            begdate = DateTime.Today.ToString("dd.MM.yyyy HH:mm:ss"),
                            enddate = DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss"),
                            })">
                    <i class="fa fa-history"></i> История событий на платежных аппаратах</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div id="changer" class="ibox ">
                <div id="cur_changer" class="ibox-content">
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="current_changer" />

@section Styles {
    @Styles.Render("~/Content/plugins/jsTree")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/plugins/ladda")

    <script type="text/javascript">

        var timeid = -1;
        $('#changer').hide();

        function show() {
            let code = $('#current_changer').val()
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                codeChanger: code
            },
            success: function (result) {
                $('#cur_changer').html(result);
            },
            error: function (jqXHR) {
                alert(jqXHR.statusText);
            },
            url: "@Url.Action("_MonitoringChangerView", "Monitoring")",
        })
        }

        function select_changer(code) {

            if (timeid != -1) {
                clearInterval(timeid);
                timeid = -1;
            }

            $('#current_changer').val(code);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    codeChanger: code
                },
                beforeSend: function () {
                    $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                },
                complete: function () {
                    $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                },
                error: function (jqXHR) {
                    alert(jqXHR.statusText);
                },
                success: function (result) {
                    if (timeid == -1) {
                        timeid = setInterval(show, 30000);
                    }
                    $('#cur_changer').html(result);
                    $('#changer').fadeIn();
                },
                url: "@Url.Action("_MonitoringChangerView", "Monitoring")",
            });
        }

        function initjstree () {
            $('#jstree1').jstree({
                'core': {
                    'themes': {
                        'responsive': true
                    }
                },
                'plugins': ['types'],
                'types': {
                    'default': {
                        //'icon': 'fa fa-circle'
                        'icon': false
                    }
                }
            });
        }

        initjstree();

        $(document).ready(function () {

        });
    </script>
}