@{
    ViewBag.Title = "Тарифы";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Тарифы</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Сводка</a>
            </li>
            <li class="breadcrumb-item">
                <a>Моечные посты</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Тарифы</strong>
            </li>
        </ol>
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-3">
            <label class="col-form-labe">Регион</label>
            <select id="region" class="form-control">
                <option value="" selected=""></option>
                @foreach (var item in ViewBag.Regions)
                {
                    <option value="@item.Code">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <br />

    <div class="ibox" id="ibox-load">
        <div class="ibox-content" id="output">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/laddaStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/ladda")

    <script type="text/javascript">

        function selectRegion() {

            var region = $('#region').find(":selected").val();
            if (region != "") {

                $.ajax({
                    type: "POST",
                    cache: true,
                    data: {
                        region: region,
                    },
                    beforeSend: function () {
                        $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                    },
                    complete: function () {
                        $('#ibox-load').children('.ibox-content').toggleClass('sk-loading');
                    },
                    success: function () {
                    },
                    error: function (xhr, httpStatusMessage, customErrorMessage) {
                        if (xhr.status === 500) {
                            $('#output').html(xhr.responseText);
                        }
                    },
                    url: "@Url.Action("_RateTableWash", "Rates")"
                }).done(function (result) {
                    $('#output').html(result);
                });
            }

        }

        $(document).ready(function () {

            $("#region").on("input", selectRegion);
        });

    </script>
}
