@model IEnumerable<Inspinia_MVC5.Models.Region>

@{
    ViewBag.Title = "Ценообразование";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Ценообразование</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Инфо</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Ценообразование</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                   <h2>Отметьте посты  <small>где нужно изменить цену</small></h2>
                </div>
                <div class="ibox-content">

                    <div id="jstree1">
                        <ul>
                            @foreach (var m in Model)
                            {
                                <li class="jstree">
                                    @m.Name
                                    <ul>
                                        @foreach (var n in m.Washes)
                                        {
                                            <li>
                                                @n.Name
                                            <ul>
                                                @foreach (var k in n.Posts)
                                                {
                                                    <li id="@k.IDPost">@k.Name</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <hr />
                    <h4>Выбранные посты:</h4>
                    <p id="output"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Введите цену <small>на каждый режим</small></h2>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">1-й режим</span>
                            <input name="price11" id="price-1" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">2-й режим</span>
                            <input name="price22" id="price-2" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">3-й режим</span>
                            <input name="price33" id="price-3" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">4-й режим</span>
                            <input name="price44" id="price-4" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">5-й режим</span>
                            <input name="price55" id="price-5" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">6-й режим</span>
                            <input name="price66" id="price-6" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">7-й режим</span>
                            <input name="price77" id="price-7" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                        <div class="col-lg-6 my-2">
                            <span class="label label-info">8-й режим</span>
                            <input name="price88" id="price-8" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                        </div>
                    </div>
                    <div class="form-group align-items-center">
                        <button type="submit" id="btn-save" class="btn btn-outline btn-success font-bold">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/jsTree")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")

    <script type="text/javascript">
        var outputList = [];

        $(document).ready(function () {

            $(document).on("click", "#btn-save", function () {
                var prices = [];

                if ($('#price-1').val() != "") {
                    var price = [];
                    price.push($('#price-1').attr('name'));
                    price.push($('#price-1').val());

                    prices.push(price);
                }

                if ($('#price-2').val() != "") {
                    var price = [];
                    price.push($('#price-2').attr('name'));
                    price.push($('#price-2').val());

                    prices.push(price);
                }

                if ($('#price-3').val() != "") {
                    var price = [];
                    price.push($('#price-3').attr('name'));
                    price.push($('#price-3').val());

                    prices.push(price);
                }

                if ($('#price-4').val() != "") {
                    var price = [];
                    price.push($('#price-4').attr('name'));
                    price.push($('#price-4').val());

                    prices.push(price);
                }

                if ($('#price-5').val() != "") {
                    var price = [];
                    price.push($('#price-5').attr('name'));
                    price.push($('#price-5').val());

                    prices.push(price);
                }

                if ($('#price-6').val() != "") {
                    var price = [];
                    price.push($('#price-6').attr('name'));
                    price.push($('#price-6').val());

                    prices.push(price);
                }

                if ($('#price-7').val() != "") {
                    var price = [];
                    price.push($('#price-7').attr('name'));
                    price.push($('#price-7').val());

                    prices.push(price);
                }

                if ($('#price-8').val() != "") {
                    var price = [];
                    price.push($('#price-8').attr('name'));
                    price.push($('#price-8').val());

                    prices.push(price);
                }

                var posts = outputList;

                if (prices == "" && posts == "") {
                    alert("Посты не выбраны, цены не заполнены!")
                }
                else {
                    if (prices == "") {
                        alert("Введите цены!")
                    }
                    else {
                        if (posts == "") {
                            alert("Выберите посты!")
                        }
                        else {
                            $.ajax({
                            type: "POST",
                            cache: false,
                            data: {
                                prices: prices,
                                posts: posts
                            },
                            error: function () {
                                alert('Возникла ошибка!\nПроверьте правильность введенных данных!');
                            },
                            url: "@Url.Action("SaveNewPrices", "Pricing")",
                                }).done(function (result) {
                                    document.location.reload();
                            });
                        }
                    }
                }
            });

            $('#jstree1').jstree({
                'core': {
                    'themes': {
                        'variant' : 'large'
                    },
                    'check_callback': true,
                    'mulptiple': false,
                    'animation': 0
                },
                'checkbox': {
                    'keep_selected_style':true
                },
                'plugins': ['wholerow', 'types', 'checkbox'],
                'types': {
                    'default': {
                        'icon': 'fa fa-circle'
                    }

                }
            });
            $('#jstree1').on('changed.jstree', function (e, data) {
                var objects = data.instance.get_selected(true)
                var leaves = $.grep(objects, function (o) { return data.instance.is_leaf(o) })
                outputList = [];
                $.each(leaves, function (i, o) {
                    outputList.push($(o).attr('id'))
                })
                var list = $('#output')
                list.empty()
                $.each(leaves, function (i, o) {
                    $('<span/>').text($(o).attr('id')+",  ").appendTo(list)
                })
            })
        });

        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

    </script>

}