@model IEnumerable<Inspinia_MVC5.Models.Company>

<div class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
</div>

<div id="alert-common" class="alert alert-danger">
    Посты не выбраны, цены не заполнены!
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div id="alert-posts" class="alert alert-warning">
                Выберите посты!
            </div>
            <div class="ibox-title">
                <h2>Отметьте посты  <small>где нужно изменить цену</small></h2>
            </div>
            <div class="ibox-content">

                <div id="jstree1">
                    <ul>
                        @foreach (var c in Model)
                        {
                            <li class="jstree">
                                @c.Name
                                <ul>
                                    @foreach (var m in c.Regions)
                                    {
                                        <li>
                                            @m.Name
                                            <ul>
                                                @foreach (var n in m.Washes)
                                                {
                                                    <li>
                                                        @n.Name
                                                        <ul>
                                                            @foreach (var k in n.Posts)
                                                            {
                                                                <li id="@k.Code">@k.Name</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="ibox-content-more" style="padding-left:20px">
                <h4>Выбранные посты:</h4>
                <p id="output"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div id="alert-prices" class="alert alert-warning">
                Введите цену!
            </div>
            <div class="ibox-title">
                <h2>Введите цену <small>на каждый режим</small></h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">1-й режим</span>
                        <input name="func1" id="price-1" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">2-й режим</span>
                        <input name="func2" id="price-2" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">3-й режим</span>
                        <input name="func3" id="price-3" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">4-й режим</span>
                        <input name="func4" id="price-4" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">5-й режим</span>
                        <input name="func5" id="price-5" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">6-й режим</span>
                        <input name="func6" id="price-6" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">7-й режим</span>
                        <input name="func7" id="price-7" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                    <div class="col-lg-6 my-2">
                        <span class="label label-info">8-й режим</span>
                        <input name="func8" id="price-8" required type="text" onkeypress="validate(event)" class="form-control my-1" placeholder="руб./мин." />
                    </div>
                </div>
                <div class="form-group align-items-center">
                    <button type="submit" id="btn-save" class="btn btn-outline btn-success font-bold">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
