@model IEnumerable<Inspinia_MVC5.Models.GetWashAmounts_Result>


<div class="sk-spinner sk-spinner-double-bounce">
    <div class="sk-double-bounce1"></div>
    <div class="sk-double-bounce2"></div>
</div>

<table class="display table table-striped table-bordered table-hover table_incashwashes responsive">
    <thead>
        <tr>
            <th hidden>CodeForSort</th>
            <th data-hide="phone">Регион</th>
            <th>Мойка</th>
            <th data-hide="phone">Адрес</th>
            <th>Зачисления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td hidden>@i.washName</td>
                <td>@i.region</td>
                <td>
                    @*<button type="button" id="btn-go-to-wash" class="btn btn-outline btn-info">@i.washName</button>*@
                    <button type="button" class="btn btn-outline btn-info" onclick="onWashSelected2('@i.washName')">@i.washName</button>
                    @*<a href="@Url.Action("IncashWashes", "Incash", new { begTime = DateTime.Today.AddDays(-1).ToString("dd.MM.yyyy HH:mm:ss"), endTime =  DateTime.Today.AddSeconds(-1).ToString("dd.MM.yyyy HH:mm:ss"), region = "0", wash = i.washName })">
                            @i.washName
                        </a>*@
                </td>
                <td>@i.washAddress</td>
                <td>@i.amount</td>
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr>
                <td colspan="7">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>*@
</table>
