
@{
    ViewBag.Title = "Зачисления по мойкам";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="alert alert-success alert-dismissible">
            Данные обновлены
            <a href="#" class="close" aria-label="close">&times;</a>
        </div>
    </div>
    <div class="col-lg-10">
        <h2>Зачисления по мойкам</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_2", "Dashboards")">Инфо</a>
            </li>
            <li class="breadcrumb-item">
                <a>Зачисления</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>По мойкам</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-labe" for="reportrange">Период</label>
                    <div id="reportrange" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-labe" for="region_code">Регион</label>
                    <select name="region_code" id="region_code" class="form-control">
                        <option value="0" selected="">Вся сеть автомоек</option>
                        @foreach (var item in ViewBag.Regions)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-labe" for="wash_code">Мойка</label>
                    <select name="wash_code" id="wash_code" class="form-control">
                        <option value="0" selected="">Все мойки сети</option>
                        @foreach (var item in ViewBag.Washes)
                        {
                            <option value="@item.Code">@item.Code-@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <button type="button" id="btn-aply-filter" class="btn  btn-block btn-outline btn-success font-bold">Показать</button>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 table_incashes">
            <div class="ibox">
                <div class="ibox-content">
                    @Html.Action("FilterIncashes", "Incash", new { begTime = @ViewBag.startDTime, endTime = ViewBag.stopDTime, region = ViewBag.region, wash = ViewBag.wash })
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="filter-startdate" value="@ViewBag.startDTime"/>
<input hidden id="filter-stopdate" value="@ViewBag.stopDTime"/>
<input hidden id="filter-region" value="0"/>
<input hidden id="filter-wash" value="0"/>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.table_incashwashes').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'Report' },
                    { extend: 'pdf', title: 'Report' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

            $(document).on("change", '#region_code', function () {
                $('#filter-region').val($(this).find(":selected").val());
            });

            $(document).on("change", '#wash_code', function () {
                $('#filter-wash').val($(this).find(":selected").val());
            });

            $(document).on("click", "#btn-aply-filter", function () {
                var startDate = $('#filter-startdate').val();
                var stopDate = $('#filter-stopdate').val();
                var regionCode = $('#filter-region').val();
                var washCode = $('#filter-wash').val();

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("FilterIncashes", "Incash")",
                    data: {
                        begTime: startDate,
                        endTime: stopDate,
                        region: regionCode,
                        wash: washCode
                    },
                    success: function () {
                        $('.alert-success').fadeIn('slow');
                        $('.alert-success').delay(3000).fadeOut('slow');
                    }
                }).done(function (result) {
                    $('.table_incashes').find('.ibox-content').html(result);
                    //alert("FilterIncashes done");

                    $('.table_incashwashes').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false,
                        dom: '<"html5buttons"B>lTfgitp',
                        buttons: [
                            { extend: 'excel', title: 'Report' },
                            { extend: 'pdf', title: 'Report' },
                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }
                        ],
                        "language": {
                            "zeroRecords": "Данные по заданному фильтру не найдены",
                            "emptyTable": "Данные по заданному фильтру не найдены"
                        }
                    });
                });

                    //setTimeout(function () {
                    //    $('#lbl-success').css("display", "inline-block");
                    //    $('#btn-create-order').css("display", "inline-block");

                    //    $('#btn-save-order').css("display", "none");
                    //    $('.product-del').hide();
                    //    $('.btn-minus-product').hide();
                    //    $('.btn-plus-product').hide();
                    //    $('.btn-group-group').hide();
                    //    $('.btn-group-product').hide();
                    //}, 1000);
            });

            //$(document).on("click", "#btn-go-to-wash", function () {
            //    alert("onWashSelected3");
            //});
        });

        function getBaseUrl() {
            var re = new RegExp(/^.*\/\/[^\/]+/);
            return re.exec(window.location.href);
        }

        function onWashSelected2(selectedWashCode) {
            var startDate = $('#filter-startdate').val();
            var stopDate = $('#filter-stopdate').val();
            var regionCode = $('#filter-region').val();
            var washCode = selectedWashCode;

            //var data = {
            //    begTime: startDate,
            //    endTime: stopDate,
            //    region: regionCode,
            //    wash: washCode
            //};

            window.location.href = "/IncashWash/IncashPosts?begTime="+ startDate + "&endTime=" + stopDate + "&region=" + regionCode + "&wash=" + selectedWashCode;


            @*$.ajax({
                type: "GET",
                url: "@Url.Action("IncashPosts", "IncashWash")",
                data: {
                    begTime: startDate,
                    endTime: stopDate,
                    region: regionCode,
                    wash: washCode
                }
            }).done(function (result) {
                $('.').html(result);
            });*@
        }
        //function OnSelectedRegionChanged(select) {
        //    var selectedOption = select.options[select.selectedIndex];
        //    $('#filter-region').val(selectedOption);
        //};

        //$('#filter-startdate').val(moment().subtract(1, 'days').startOf('day').format('DD.MM.YYYY HH:mm:ss'));
        //$('#filter-stopdate').val(moment().subtract(1, 'days').endOf('day').format('DD.MM.YYYY HH:mm:ss'));

        $('input[name="daterange"]').daterangepicker();

        //$('#reportrange span').html(moment().subtract(1, 'days').startOf('day').format('DD.MM.YYYY HH:mm:ss') + ' - ' + moment().subtract(1, 'days').endOf('day').format('DD.MM.YYYY HH:mm:ss'));
        $('#reportrange span').html(moment('@ViewBag.startDTime', 'DD.MM.YYYY HH:mm:ss').format('DD.MM.YYYY HH:mm:ss') + ' - ' + moment('@ViewBag.stopDTime', 'DD.MM.YYYY HH:mm:ss').format('DD.MM.YYYY HH:mm:ss'));

        $('#reportrange').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "ranges": {
                'вчера': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'сегодня': [moment().startOf('day'), moment()],
                'текущий месяц': [moment().startOf('month'), moment()],
                'прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            "locale": {
                "format": "DD.MM.YYYY",
                "separator": " ",
                "applyLabel": "Выбрать",
                "cancelLabel": "Отмена",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment('@ViewBag.startDTime', 'DD.MM.YYYY HH:mm:ss'),
            "endDate": moment('@ViewBag.stopDTime', 'DD.MM.YYYY HH:mm:ss'),
            "opens": "right",
            "drops": "down"
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            $('#reportrange span').html(start.format('DD.MM.YYYY HH:mm:ss') + ' - ' + end.format('DD.MM.YYYY HH:mm:ss'));

            //$('#filter-startdate').val(start);
            //$('#filter-stopdate').val(end);
            $('#filter-startdate').val(start.format('DD.MM.YYYY HH:mm:ss'));
            $('#filter-stopdate').val(end.format('DD.MM.YYYY HH:mm:ss'));
        });
        //"startDate": moment().subtract(1, 'days').startOf('day'),
        //"endDate": moment().subtract(1, 'days').endOf('day'),

    </script>
}

